* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: lightgray;

}

.main {
    font-size: 28px;
    text-align: center;
    width: 60%;
    padding: 18px;
    margin: 70px auto;
    border: 2px dashed blueviolet;
     
}

.timer {
   float: left;
   font-size: 22px;
   border: 4px solid cornflowerblue;
   background-color: lightgray;

}

.time {
    float: left;
    font: large;
    background-color: lightgray;

}

.st-btn, .submit {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    width: 18%;
    height: 18%;
    background-color: lightgray;
    border: 4px solid cornflowerblue;

}

.highscore, .reset {
    color: black;
    font-size: 22px;
    border: 4px solid cornflowerblue;
    background-color: lightgray;

}

.quesses {
    font-weight: bolder;
    font-size: 36px;
    text-align: justify;
    text-align: center;
    width: 100px;
    height: 50;
    background-color: lightgray;
    border: 4px solid cornflowerblue;

}

.input {
    width: 160px;
    height: 40px;
    font-weight: bold;
    font-size: x-large;
    
}

h3 {
    display: inline-flex;

}
